
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Righteous');
body{
    background-color: #85dc;
}

h1{
    color: #e27d60;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   font-family: 'Indie Flower', cursive;
   text-align: center;
}
.sub-header{
    text-align: center;
}
h2{
    color: #41b3a3;
}
p{
    font-family:  'Pacifico', cursive;
    font-size: 25px;
    color: #c38d9e;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    

}
h1:first-child:first-letter {
    color: #903;
    font-size: 60px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;

}
h2:first-child:first-letter {
    color: #903;
    font-size: 60px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;  
    color: red;
}
li{
    font-family: 'Righteous', cursive;
    font-size: 20px;

}